<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="sitwip.css">
    

</head>
<body>

    <header id="header">
        <a href="#" class="logo"><img src="img 2/logo.png" alt=""></a>
        <div>
        <ul class="navbar" id="navbarr">
            <li><a   href="sitweb.html" >Home</a></li>
            <li><a  class="active"href="shop.page.html">Shop</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a id="ig-cart" href="cart.html"><i class="material-symbols-outlined">local_mall</i></a></li>
            <a href="#" id="close"><span class="material-symbols-outlined">close</span></a>
    </div>
    <div class="phon">
        <li><a href="cart.html"><i class="material-symbols-outlined">local_mall</i></a></li>
        <i  id="menuu" ><span class="material-symbols-outlined">list </span></i>
        
    </div>
    </header>

    <section id="home-shop">
        <div class="hom-contants">
        <div class="content">
            <h1>#stary home</h1>
            <p>up to 70% off-all the shertch acecorial</p>
        </div>
        
    </div>
    </section>


    <section id="product">
        <div class="pro-products">
            <div class="pro" onclick="window.location.href='prodact1.html';">
                <img src="img 2/products/f1.jpg" alt="">
                <div class="title-pro">
                    <p>odites</p>
                    <h2>carton astronet shirts</h2>
                    <div class="star">
                        <i class="material-symbols-outlined">star </i>
                        <i class="material-symbols-outlined">star </i>
                        <i class="material-symbols-outlined">star </i>
                        <i class="material-symbols-outlined">star </i>
                        <i class="material-symbols-outlined">star </i>
                    </div>
                    <p class="prix">23$</p>
                    <i class="material-symbols-outlined shop">shopping_cart</i>
                </div>
            </div>

            <div class="pro" onclick="window.location.href='prodact1.html';">
                <img src="img 2/products/f2.jpg" alt="">
                <div class="title-pro">
                    <p>odites</p>
                    <h2>chemise manche courte </h2>
                    <div class="star">
                        <i class="material-symbols-outlined">star </i>
                        <i class="material-symbols-outlined">star </i>
                        <i class="material-symbols-outlined">star </i>
                        <i class="material-symbols-outlined">star </i>
                        <i class="material-symbols-outlined">star </i>
                    </div>
                    <p class="prix">23$</p>
                    <i class="material-symbols-outlined shop">shopping_cart</i>
                </div>
            </div>

            <div class="pro" onclick="window.location.href='prodact1.html';">
                <img src="img 2/products/f3.jpg" alt="">
                <div class="title-pro">
                    <p>odites</p>
                    <h2>chemise vacances design</h2>
                    <div class="star">
                        <i class="material-symbols-outlined">star </i>
                        <i class="material-symbols-outlined">star </i>
                        <i class="material-symbols-outlined">star </i>
                        <i class="material-symbols-outlined">star </i>
                        <i class="material-symbols-outlined">star </i>
                    </div>
                    <p class="prix">28$</p>
                    <i class="material-symbols-outlined shop">shopping_cart</i>
                </div>
            </div>

            <div class="pro" onclick="window.location.href='prodact1.html';">
                <img src="img 2/products/f4.jpg" alt="">
                <div class="title-pro">
                    <p>odites</p>
                    <h2>jhnghhjbjkd ftg</h2>
                    <div class="star">
                        <i class="material-symbols-outlined">star </i>
                        <i class="material-symbols-outlined">star </i>
                        <i class="material-symbols-outlined">star </i>
                        <i class="material-symbols-outlined">star </i>
                        <i class="material-symbols-outlined">star </i>
                    </div>
                    <p class="prix">23$</p>
                    <i class="material-symbols-outlined shop">shopping_cart</i>
                </div>
            </div>
            <div class="pro" onclick="window.location.href='prodact2.html';">
                <img src="img 2/products/f5.jpg" alt="">
                <div class="title-pro">
                    <p>odites</p>
                    <h2>carton astronet shirts</h2>
                    <div class="star">
                        <i class="material-symbols-outlined">star </i>
                        <i class="material-symbols-outlined">star </i>
                        <i class="material-symbols-outlined">star </i>
                        <i class="material-symbols-outlined">star </i>
                        <i class="material-symbols-outlined">star </i>
                    </div>
                    <p class="prix">43$</p>
                    <i class="material-symbols-outlined shop">shopping_cart</i>
                </div>
            </div>

            <div class="pro" onclick="window.location.href='prodact2.html';">
                <img src="img 2/products/f6.jpg" alt="">
                <div class="title-pro">
                    <p>odites</p>
                    <h2>carton astronet shirts</h2>
                    <div class="star">
                        <i class="material-symbols-outlined">star </i>
                        <i class="material-symbols-outlined">star </i>
                        <i class="material-symbols-outlined">star </i>
                        <i class="material-symbols-outlined">star </i>
                        <i class="material-symbols-outlined">star </i>
                    </div>
                    <p class="prix">19$</p>
                    <i class="material-symbols-outlined shop">shopping_cart</i>
                </div>
            </div>

            <div class="pro" onclick="window.location.href='prodact2.html';">
                <img src="img 2/products/f7.jpg" alt="">
                <div class="title-pro">
                    <p>odites</p>
                    <h2>carton astronet shirts</h2>
                    <div class="star">
                        <i class="material-symbols-outlined">star </i>
                        <i class="material-symbols-outlined">star </i>
                        <i class="material-symbols-outlined">star </i>
                        <i class="material-symbols-outlined">star </i>
                        <i class="material-symbols-outlined">star </i>
                    </div>
                    <p class="prix">57$</p>
                    <i class="material-symbols-outlined shop">shopping_cart</i>
                </div>
            </div>

            <div class="pro" onclick="window.location.href='prodact2.html';">
                <img src="img 2/products/f8.jpg" alt="">
                <div class="title-pro">
                    <p>odites</p>
                    <h2>carton astronet shirts</h2>
                    <div class="star">
                        <i class="material-symbols-outlined">star </i>
                        <i class="material-symbols-outlined">star </i>
                        <i class="material-symbols-outlined">star </i>
                        <i class="material-symbols-outlined">star </i>
                        <i class="material-symbols-outlined">star </i>
                    </div>
                    <p class="prix">10$</p>
                    <i class="material-symbols-outlined shop">shopping_cart</i>
                </div>
            </div>
        </div>



        <div class="pro-products">
            <div class="pro" onclick="window.location.href='prodact3.html';">
                <img src="img 2/products/n1.jpg" alt="">
                <div class="title-pro">
                    <p>odites</p>
                    <h2>carton astronet shirts</h2>
                    <div class="star">
                        <i class="material-symbols-outlined">star </i>
                        <i class="material-symbols-outlined">star </i>
                        <i class="material-symbols-outlined">star </i>
                        <i class="material-symbols-outlined">star </i>
                        <i class="material-symbols-outlined">star </i>
                    </div>
                    <p class="prix">23$</p>
                    <i class="material-symbols-outlined shop">shopping_cart</i>
                </div>
            </div>

            <div class="pro" onclick="window.location.href='prodact3.html';">
                <img src="img 2/products/n2.jpg" alt="">
                <div class="title-pro">
                    <p>odites</p>
                    <h2>carton astronet shirts</h2>
                    <div class="star">
                        <i class="material-symbols-outlined">star </i>
                        <i class="material-symbols-outlined">star </i>
                        <i class="material-symbols-outlined">star </i>
                        <i class="material-symbols-outlined">star </i>
                        <i class="material-symbols-outlined">star </i>
                    </div>
                    <p class="prix">23$</p>
                    <i class="material-symbols-outlined shop">shopping_cart</i>
                </div>
            </div>

            <div class="pro" onclick="window.location.href='prodact3.html';">
                <img src="img 2/products/n3.jpg" alt="">
                <div class="title-pro">
                    <p>odites</p>
                    <h2>carton astronet shirts</h2>
                    <div class="star">
                        <i class="material-symbols-outlined">star </i>
                        <i class="material-symbols-outlined">star </i>
                        <i class="material-symbols-outlined">star </i>
                        <i class="material-symbols-outlined">star </i>
                        <i class="material-symbols-outlined">star </i>
                    </div>
                    <p class="prix">23$</p>
                    <i class="material-symbols-outlined shop">shopping_cart</i>
                </div>
            </div>

            <div class="pro" onclick="window.location.href='prodact3.html';">
                <img src="img 2/products/n4.jpg" alt="">
                <div class="title-pro">
                    <p>odites</p>
                    <h2>carton astronet shirts</h2>
                    <div class="star">
                        <i class="material-symbols-outlined">star </i>
                        <i class="material-symbols-outlined">star </i>
                        <i class="material-symbols-outlined">star </i>
                        <i class="material-symbols-outlined">star </i>
                        <i class="material-symbols-outlined">star </i>
                    </div>
                    <p class="prix">23$</p>
                    <i class="material-symbols-outlined shop">shopping_cart</i>
                </div>
            </div>
            <div class="pro" onclick="window.location.href='prodact4.html';">
                <img src="img 2/products/n5.jpg" alt="">
                <div class="title-pro">
                    <p>odites</p>
                    <h2>carton astronet shirts</h2>
                    <div class="star">
                        <i class="material-symbols-outlined">star </i>
                        <i class="material-symbols-outlined">star </i>
                        <i class="material-symbols-outlined">star </i>
                        <i class="material-symbols-outlined">star </i>
                        <i class="material-symbols-outlined">star </i>
                    </div>
                    <p class="prix">23$</p>
                    <i class="material-symbols-outlined shop">shopping_cart</i>
                </div>
            </div>

            <div class="pro" onclick="window.location.href='prodact4.html';">
                <img src="img 2/products/n6.jpg" alt="">
                <div class="title-pro">
                    <p>odites</p>
                    <h2>carton astronet shirts</h2>
                    <div class="star">
                        <i class="material-symbols-outlined">star </i>
                        <i class="material-symbols-outlined">star </i>
                        <i class="material-symbols-outlined">star </i>
                        <i class="material-symbols-outlined">star </i>
                        <i class="material-symbols-outlined">star </i>
                    </div>
                    <p class="prix">23$</p>
                    <i class="material-symbols-outlined shop">shopping_cart</i>
                </div>
            </div>

            <div class="pro" onclick="window.location.href='prodact4.html';">
                <img src="img 2/products/n7.jpg" alt="">
                <div class="title-pro">
                    <p>odites</p>
                    <h2>carton astronet shirts</h2>
                    <div class="star">
                        <i class="material-symbols-outlined">star </i>
                        <i class="material-symbols-outlined">star </i>
                        <i class="material-symbols-outlined">star </i>
                        <i class="material-symbols-outlined">star </i>
                        <i class="material-symbols-outlined">star </i>
                    </div>
                    <p class="prix">23$</p>
                    <i class="material-symbols-outlined shop">shopping_cart</i>
                </div>
            </div>

            <div class="pro" onclick="window.location.href='prodact4.html';">
                <img src="img 2/products/n8.jpg" alt="">
                <div class="title-pro">
                    <p>odites</p>
                    <h2>carton astronet shirts</h2>
                    <div class="star">
                        <i class="material-symbols-outlined">star </i>
                        <i class="material-symbols-outlined">star </i>
                        <i class="material-symbols-outlined">star </i>
                        <i class="material-symbols-outlined">star </i>
                        <i class="material-symbols-outlined">star </i>
                    </div>
                    <p class="prix">23$</p>
                    <i class="material-symbols-outlined shop">shopping_cart</i>
                </div>
            </div>
        </div>
        <div class="sliders">
            <div class="slider">
                <p>1</p>
                <p>2</p>
                <a href=""><i><span class="material-symbols-outlined">arrow_right_alt</i></a> 
            </div>
       
        </div>

 </section>

    <section id="span">
        <div class="content">
         <h1>hir is good and he meke mai </h1>
        <p>yes i like that prodact and iama soo like to shep hem <span>likeht and shop</span></p>   
        </div>
        <div class="input">
            <input  type="text" placeholder="your email">
            <button class="btn">sned her</button>
        </div>
        
    </section>

    <section id="footer">
        <div class="fo-contnet">
            <div class="centent">
                <h3>contact</h3>
                <p>adress: inzegane agadir </p>
                <p>phone: +212766235151</p>
                <p>horse: agadir 80000</p>
                <div class="follow">
                    <img src="icons/facebook-line.png" alt="">
                    <img src="icons/instagram-line.png" alt="">
                    <img src="icons/twitter-line.png" alt="">
                    <img src="icons/youtube-line.png" alt="">
                </div>
            </div>

            <div class="centent">
                <h3>about us</h3>
                <p>zbout us </p>
                <p>contact us</p>
                <p>contact mr</p>
            </div>

            <div class="centent">
                <h3>may aconts</h3>
                <p >agadir </p>
                <p>casablanka</p>
                <p>rabat</p>
            </div>
            <div class="centent">
                <h3>may aconts</h3>
                <p>agadir </p>
                <div class="pay">
                <img  src="img/pay/app.jpg" alt=""> 
                <img  href="" src="img/pay/play.jpg" alt="">
            </div>
            <p>may paypal is her</p>
            <img src="img/pay/pay.png" alt="">
        </div>
    </section>
    <div class="fo-dach">
        <p>copyright © 2022 tahid-themes. all rights reserved.</p>
    </div>
    <script src="index.js"></script>
</body>
</html>